<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Uniqlo</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
        <div class="brand">
          <a href="/" class="logo">Uniqlo</a>
        </div>
        <div class="header-links">
          <a href="carl.html">Cart</a>
          <a href="signin">Sign in</a>
        </div>
      </div>

      <main>
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img src="images/1.jpg" class="product-image" alt="" />
                <div class="product-name">
                  <a href="product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$50</div>
                <div class="product-rating">4.5 Stars(10 Review)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img src="images/1.jpg" class="product-image" alt="" />
                <div class="product-name">
                  <a href="product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$50</div>
                <div class="product-rating">4.5 Stars(10 Review)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img src="images/1.jpg" class="product-image" alt="" />
                <div class="product-name">
                  <a href="product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$50</div>
                <div class="product-rating">4.5 Stars(10 Review)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img src="images/1.jpg" class="product-image" alt="" />
                <div class="product-name">
                  <a href="product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$50</div>
                <div class="product-rating">4.5 Stars(10 Review)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img src="images/1.jpg" class="product-image" alt="" />
                <div class="product-name">
                  <a href="product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$50</div>
                <div class="product-rating">4.5 Stars(10 Review)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">Copy right</footer>
    </div>
  </body>
</html>
